apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-demo
  namespace: web
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx-demo
  template:
    metadata:
      labels:
        app: nginx-demo
    spec:
      containers:
      - name: nginx
        image: hiratapqd/my-nginx:c8bae5ef8924abb89a91571221196a6d20f671aa
        imagePullPolicy: Always
        ports:
        - containerPort: 80
